.img{
    width:100vw;
    height:200px;
}

.logo{
    margin-left:250px;
}

.title{
    font-size: 30px;
    color:silver;
    margin-left:475px;
}

.input1{
    width:300px;
    margin-left:476px;
    margin-top:20px;
}

.ipt1{
    width:300px;
    margin-left:10px;
}

.input2{
    width:300px;
    margin-left:476px;
    margin-top:20px;
}

.ipt2{
    width:300px;
    margin-left:25px;
}

.btn{
    width:24%;
    margin-left:476px;
    margin-top:20px;
}

